In [5]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

# File inside the dataset
file_path = "insurance.csv"

# Load dataset into pandas DataFrame
df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "mosapabdelghany/medical-insurance-cost-dataset",
    file_path
)

print("First 5 records:\n", df.head())

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/tmp/ipykernel_7157/462382503.py:8: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/mosapabdelghany/medical-insurance-cost-dataset?dataset_version_number=1&file_name=insurance.csv...

100%|██████████| 54.3k/54.3k [00:00<00:00, 150kB/s]

First 5 records:
    age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
import pandas as pd

In [7]:
df.shape

(1338, 7)

In [8]:
df=df.head(100)

In [11]:
df.shape

(100, 7)

In [13]:
df['sex'][3]

'male'

In [14]:
df['sex']= df['sex'].str.lower()

In [15]:
df

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
..  ...     ...     ...       ...    ...        ...          ...
95   28  female  37.620         1     no  southeast   3766.88380
96   54  female  30.800         3     no  southwest  12105.32000
97   55    male  38.280         0     no  southeast  10226.28420
98   56    male  19.950         0    yes  northeast  22412.64850
99   38    male  19.300         0    yes  southwest  15820.69900

[100 rows x 7 columns]